//======================== 
//   GENERAL                    
//========================
html, body {
  width: 100%;
  height: 100%; 
  

}


#page-wrapper {
  width: $page_wrapper_width;
  //height: $page_wrapper_height;
    
}



//======================== 
//   HEADER                    
//========================
#page-header {
	position: fixed;
	width:100%;
	height:100px;
	z-index: 1000;
	header {
		position: relative;
		top:5px;
		left:5%;
		div {
			float:left;
		}
	}
	.nav {
		margin-top: 8px;
		ul {
			list-style-type: none;
			li {
				display: inline-block;
			}
		}
		
		a {
			text-decoration: none;
  			font-size: .7em;
  			padding:7px;
  			color:white;
  			background-color: black;
  			&:hover {
  				color:black;
  				background-color: white;
  				border: 1px solid grey;
 			}
		}
	}
	.settings {
		margin-top: 8px;		
	}
}

//======================== 
//   CONTENT                    
//========================


#content-wrapper {
	position: relative;

	> div {
		float:left;	
	}
	.page-item {
	 	margin-top: 180px;
	 	width: 80vw;
	 	height:100%;
	  	
	  	.sidebar_nav {
  			margin-left: .5%;
  			margin-right: 2%;
  			height:100%;
  			float:left; 				
		}

		.content_div {
			overflow: hidden;
		}
	}

	.animation_div {
		background: url('../img/gotoisrael_crowd.png') bottom no-repeat;
		//margin-top:180px;
		width: 2222px;
		height:100vh;
	}	
}



	// #isr-about {
	// 	top:600px;
	// 	left:750px;
	// }

	// #isr-imm {
	// 	top:1600px;
	// 	left:2000px;
	// }

	// #blogs {
	// 	left:2800px;
	// 	top: 2800px;
	// }

	// #forum {
	// 	top: 2000px;
	// 	left:550px;
	// }

	// #aboutUs {
	// 	top:1300px;
	// 	left:-400px;
	// }


 /*page item positioning*/


