//COLOR SCHEMES


//General Theme
@mixin page_back_gradient {

	background: rgba(173,216,230,1);
	background: -moz-linear-gradient(top, rgba(173,216,230,1) 0, rgba(173,216,230,1) 15px, rgba(249,184,19,1) 15px, rgba(249,184,19,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(173,216,230,1)), color-stop(10px, rgba(173,216,230,1)), color-stop(15px, rgba(249,184,19,1)), color-stop(100%, rgba(249,184,19,1)));
	background: -webkit-linear-gradient(top, rgba(173,216,230,1) 0, rgba(173,216,230,1) 10px, rgba(249,184,19,1) 15px, rgba(249,184,19,1) 100%);
	background: -o-linear-gradient(top, rgba(173,216,230,1) 0, rgba(173,216,230,1) 10px, rgba(249,184,19,1) 15px, rgba(249,184,19,1) 100%);
	background: -ms-linear-gradient(top, rgba(173,216,230,1) 0, rgba(173,216,230,1) 10px, rgba(249,184,19,1) 15px, rgba(249,184,19,1) 100%);
	background: linear-gradient(to bottom, rgba(173,216,230,1) 0, rgba(173,216,230,1) 10px, rgba(249,184,19,1) 15px, rgba(249,184,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add8e6', endColorstr='#f9b813', GradientType=0 );
}
 
$header_color: rgb(255,255,255); //rgb(244, 237, 182);
$h_font_color: #382724;
$font_color:   rgb(71, 85, 86);
$background_color: #FCB924;



//Painted Desert Theme
//general colors
// $background_color: #F2E087;
// $header_color: #DBCB7A;
// $h_font_color: #333140;
// $font_color: #3F5073;

// //menu colors

// $menu_item_color: #EB9861;